@import './reset.css';
@import './variable.css';
@import './utility.css';
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

body {
    font-family: 'Hind', sans-serif;
    background: url('../image/background-compressed.jpg') no-repeat center center fixed;
    background-size: cover;
}

.page {
    width: 31%;
    aspect-ratio: 1/1.41;

    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--white);

    background-color: var(--col-page);

    cursor: default;

    transition: box-shadow 1s;
}

.page:hover {
    box-shadow: var(--box-shadow-page)
}

header {
    width: 100%;
    flex: 0 1 34%;
    background-color: var(--bluish-gray);
}

hgroup {
    padding-left: calc(2.5 * 10 / 1600 * 100 * 1vw);
    justify-content: space-evenly;
    flex: 0 1 60%;
}

header hgroup h1,
header hgroup h5,
header hgroup a {
    width: fit-content;
    font-weight: 500;
}

header hgroup h1 {
    font-size: var(--fn-size-h1);
    letter-spacing: calc(.3 * 10 / 1600 * 100 * 1vw);
    transition: text-shadow 1s;
}

header hgroup h1:hover {
    text-shadow: var(--text-shadow-red);
}

header hgroup h5 {
    margin-top: calc(-1.5 * 10 / 1600 * 100 * 1vw);
    padding: calc(.5 * 10 / 1600 * 100 * 1vw) calc(1 * 10 / 1600 * 100 * 1vw);
    font-size: var(--fn-size-h5);
    background-color: var(--bluish-gray-light);
    transition: text-shadow .5s;
}

header hgroup h5:hover {
    text-shadow: var(--text-shadow-blue);
}

a {
    text-decoration: none;
}

header hgroup a {
    font-size: var(--fn-size-hgroup-a);
    color: var(--white);
    transition: text-shadow .5s;
}

header hgroup a:hover {
    text-shadow: var(--text-shadow-blue);
}

header hgroup a:last-child {
    margin-left: calc(1 * 10 / 1600 * 100 * 1vw);
    margin-right: calc(1 * 10 / 1600 * 100 * 1vw);
}

.header-applicant-contact {
    justify-content: space-between;
}

.header-applicant-photo {
    flex: 0 1 37%;
    position: relative;
    background: url('../image/me-grey.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header-applicant-photo__color {
    width: 100%;
    height: 100%;

    position: absolute;

    background: url('../image/me-color.jpg') no-repeat center center fixed;
    background-size: cover;

    opacity: 0;

    transition: opacity 2s;
}

.header-applicant-photo__color:hover {
    opacity: 1;
}

nav {
    width: 70%;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 15%;
}

nav a {
    padding: calc(.25 * 10 / 1600 * 100 * 1vw) calc(1 * 10 / 1600 * 100 * 1vw);
    font-size: var(--fn-size-nav-a);
    color: var(--black);
    box-shadow: var(--box-shadow-nav-a);
    background-color: var(--col-page);
    transform: rotate(-25deg);
    transition: color .3s, box-shadow .5s;
}

main {
    width: 70%;
    flex: 0 1 35%;
    text-align: justify;
}


main article> :not(*:first-child) {
    display: none;
}

main article>* {
    font-size: var(--fn-size-p);
    color: var(--black);
    list-style-type: none;
}

footer {
    width: 40%;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 10%;
}

footer a {
    font-size: var(--fn-size-footer-a);
    color: var(--grey);
}

footer i {
    transition: transform .5s, color .5s, filter .5s;
}

footer i:hover {
    transform: scale(1.4);
    color: var(--reddish);
}

footer i:active {
    transform: scale(.9);
}

.anchorSelected {
    color: var(--reddish);
    box-shadow: var(--box-shadow-anchorSelected)
}

/*responsive design*/

@media screen and (max-width: 1300px) and (orientation: landscape) {
    .page {
        min-width: 49.6rem;
    }

    .page:hover {
        box-shadow: var(--box-shadow-page-L)
    }

    hgroup {
        padding-left: 2.5rem;
    }

    header hgroup h1 {
        font-size: var(--fn-size-h1-L);
        letter-spacing: .3rem;
    }

    header hgroup h1:hover {
        text-shadow: var(--text-shadow-red-L);
    }

    header hgroup h5 {
        margin-top: -1.5rem;
        padding: .5rem 1rem;
        font-size: var(--fn-size-h5-L);
    }

    header hgroup h5:hover {
        text-shadow: var(--text-shadow-blue-L);
    }

    header hgroup a {
        font-size: var(--fn-size-hgroup-a-L);
    }

    header hgroup a:last-child {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    nav a {
        padding: .25rem 1rem;
        font-size: var(--fn-size-nav-a-L);
        box-shadow: var(--box-shadow-nav-a-L);
    }

    main article>* {
        font-size: var(--fn-size-p-L);
    }

    footer a {
        font-size: var(--fn-size-footer-a-L);
    }

    .anchorSelected {
        box-shadow: var(--box-shadow-anchorSelected-L)
    }
}

@media screen and (orientation: portrait) {
    .page {
        width: calc(31% * 2);
        min-width: unset;
    }

    .page:hover {
        box-shadow: var(--box-shadow-page-P)
    }

    hgroup {
        padding-left: calc(2.5 * 10 / 1600 * 100 * 2 * 1vw);
    }

    header hgroup h1 {
        font-size: var(--fn-size-h1-P);
        letter-spacing: calc(.3 * 10 / 1600 * 100 * 2 * 1vw);
    }

    header hgroup h1:hover {
        text-shadow: var(--text-shadow-red-P);
    }

    header hgroup h5 {
        margin-top: calc(-1.5 * 10 / 1600 * 100 * 2 * 1vw);
        padding: calc(.5 * 10 / 1600 * 100 * 1vw) calc(1 * 10 / 1600 * 100 * 2 * 1vw);
        font-size: var(--fn-size-h5-P);
    }

    header hgroup h5:hover {
        text-shadow: var(--text-shadow-blue-P);
    }

    header hgroup a {
        font-size: var(--fn-size-hgroup-a-P);
    }

    header hgroup a:last-child {
        margin-left: calc(1 * 10 / 1600 * 100 * 2 * 1vw);
        margin-right: calc(1 * 10 / 1600 * 100 * 2 * 1vw);
    }

    nav a {
        padding: calc(.25 * 10 / 1600 * 100 * 2 * 1vw) calc(1 * 10 / 1600 * 100 * 2 * 1vw);
        font-size: var(--fn-size-nav-a-P);
        box-shadow: var(--box-shadow-nav-a-P);
    }

    main article>* {
        font-size: var(--fn-size-p-P);
    }

    footer a {
        font-size: var(--fn-size-footer-a-P);
    }

    .anchorSelected {
        box-shadow: var(--box-shadow-anchorSelected-P)
    }
}